<!DOCTYPE html>
<html>
<head>
    <title>Chat</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='chat.css') }}">
</head>

<body>

<div class="app">

    <div class="sidebar">
    <h2>MindCare AI</h2>
    <p>{{ user }}</p>

    <h4>History</h4>
    <div id="history-box"></div>

    <a href="/logout">Logout</a>
</div>

    <div class="chat-container">
        <div id="chat-box" class="chat-box"></div>

        <div class="input-area">
            <input type="text" id="message" placeholder="Type message...">
            <button onclick="sendMessage()">Send</button>
        </div>
    </div>

</div>

<script src="{{ url_for('static', filename='chat.js') }}"></script>

</body>
</html>